@import url('https://fonts.googleapis.com/css?family=Calibri:500');
*  {
	font-family: 'Questrial', sans-serif;
}
*:before
*: after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

nav {
	background-color: rgb(50, 50, 50, .90);
}



a {
	color: white;
	position: relative;
	font-family: 'Questrial', sans-serif;
	font-family: 18px;
	letter-spacing: 0.5px;

}


a:after {
	content: "";
	position: absolute;
	background-color: #ff3c78;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
a:hover {
	color: green;
}

a:hover:after {
	width: 100%;


}
/*end of navbar*/

#profpic {
		box-shadow: 0px 11px 15px 0px;
		color: black;
}

.hero {
	background-color: black;
	background-image: url(./images/bg2.png);
	padding-top: 200px;
	padding-bottom: 200px;
	background-repeat: no-repeat;
	background-size: fixed;
	background-attachment: fixed;
}


#about {
	background-color: dark;
} 


#aboutme {
	padding-top: 100px;
	padding-bottom: 200px;
	background-repeat: no-repeat;
	background-size: fixed;

}

#projects{
	padding-top: 200px;
	padding-bottom: 200px;
	background-repeat: no-repeat;
	background-size: fixed;
}


#contact{
	padding-top: 200px;
	padding-bottom: 200px;
	background-repeat: no-repeat;
	background-size: fixed;
}

#contactbox{
	background-color: rgb(50, 50, 50, .90);
	background-repeat: no-repeat;
	background-size: fixed;
	box-shadow: 0px 20px 25px 0px;
	color: black;
	border-radius: 20px;
	
}

#forms {
	border-radius: 10px;
	box-shadow: 0px 20px 25px 0px;
	color: black;

}

#gmap {
	border-radius: 10px;
	color: black;
}

#footer {
	background-color: rgb(50, 50, 50, .90);
}

#projbg1{
	background-color: rgb(0, 255, 0, .3);
	padding-top: 200px;
	padding-bottom: 200px;
	background-repeat: no-repeat;
	background-size: fixed;
	box-shadow: 0px 20px 25px 0px;
	color: black;
	border-radius: 8px;
	
}

#projbg2{
	background-color: rgb(255, 0, 0, .3);
	padding-top: 200px;
	padding-bottom: 200px;
	background-repeat: no-repeat;
	background-size: fixed;
	box-shadow: 0px 20px 25px 0px;
	color: black;
	border-radius: 8px;
}

#projbg3{
	background-color: rgb(0, 0, 255, .3);
	padding-top: 200px;
	padding-bottom: 200px;
	background-repeat: no-repeat;
	background-size: fixed;
	box-shadow: 0px 20px 25px 0px;
	color: black;
	border-radius: 8px;
}


#cardbg1 {
	background-color: rgb(255, 3, 0, .3);
	box-shadow: 0px 20px 25px 0px;
	color: black;
	border-radius: 8px;
}

#cardbg2 {
	background-color: rgb(255, 204, 0, .3);
	box-shadow: 0px 20px 25px 0px;
	color: black;
	border-radius: 8px;
}

#cardbg3 {
	background-color: rgb(0, 255, 0, .3);
	box-shadow: 0px 20px 25px 0px;
	color: black;
	border-radius: 8px;
}

#cardbg4 {
	background-color: rgb(0, 0, 255, .3);
	box-shadow: 0px 20px 25px 0px;
	color: black;
	border-radius: 8px;

}

#cardimg {
		box-shadow: 0px 20px 25px 0px;
  	color: black;
  	border-radius: 8px;
}

#dropdown {
	background: none;
}


#tools {
	background-color: black;
	background-image: url(./images/bg1.png);
	padding-top: 200px;
	padding-bottom: 200px;
	background-repeat: no-repeat;
	background-size: fixed;

}

#othertools1 {
	background-color: rgb(0, 0, 255, .3);
	box-shadow: 0px 20px 25px 0px;
	color: black;
	border-radius: 8px;

}

#othertools2 {
	background-color: rgb(255, 3, 0, .3);
	
	color: black;
	border-radius: 8px;
}

#logo1 {
	background-color: white
}